<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat-app</title>
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="page">
        <nav>
            <div class="title">freiendname</div>
         <ul>
             <li></li>
         </ul>
        </nav>
        <div class="container">
            <div class="my-msg">hello</div>
            <div class="friend-msg">hey</div>
        </div>
        <div class="input">
            <input type="text" placeholder="Type Here">
            <button>send</button>
        </div>
    </div>
</body>
</html>