<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat-app</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
</head>
<body>
    <div class="page">
        <div class="heading">Log-in</div>
        <form action="/user/login" method="POST">
            <div class="nextline">
                <input type="text" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <button type="submit">submit</button>
             </div>
        </form>
        <div class="center link">
            Don't have an account, please <a href="signin">Sign-in</a>
        </div>
    </div>
</body>
</html>